html,body{
      height: 100%;
      margin:0;
      font-size: 16px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 400;
      line-height: 1.8em;
      color: black; 
}

.pimg1{
      background-image: url(images/Nature.jpeg);
      min-height: 100%;
      
}
.pimg2{
      background-image: url(images/CHITRAKOTE.jpg);
      min-height: 600px;
}
.pimg3{
      background-image: url(images/dholkal.webp);
      min-height: 600px;
      
}
.pimg4{
      background-image: url(images/Tirathgarh_waterfalls_optimized.jpeg);
      min-height: 600px;
      
}
.pimg5{
      background-image: url(images/kutumsarcaves.jpg);
      min-height: 600px;
}
.pimg6{
      background-image: url(images/end.jpg);
      min-height: 100%;
}
.pimg1,.pimg2,.pimg3,.pimg4,.pimg5,.pimg6{
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
}
.ptext{
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: black;
      font-size: 27px;
      letter-spacing: 8px;
      text-transform: uppercase;
}
.textBg{
      background: #313534;
      color:#fff;
      padding: 20px;
      

}
.textBg2{
      background:transparent;
      color:#fff;
      padding: 20px;
      display: inline-block;
    max-width: 90%;
    line-height: 1.4;

}

.section{
      padding: 50px 80px;
      text-align: center;
}
.section-light{
      background-color: #f4f4f4;
      color:#666;
}

.section-dark{
      background-color: #282e34;
      color:#ddd;
}
